/* Example Variables */
:root {
	/* Fonts */
	--main-font-primary: "Times New Roman", sans-serif;
	--main-font-secondary: "Arial", sans-serif;
	--main-font-tertiary: "Comfortaa", cursive;
	/* Colors */
	--main-color-gray: #485359;
	--main-color-white: #dadfe6;
	--main-color-black: #0d0d0d;
	--main-color-light: #5ef2ad;
	--main-color-dark: #45735d;
	--main-color-light2: #f38888;
	--main-color-dark2: #d27575;
	--main-color-light3: #a0d3f2;
	--main-color-dark3: #769bb3;
}

/* ======= Header ======= */
.header {
  padding: 30px 0;
  background: #f5f5f5;
  border-top: 10px solid #778492;
}

.header .btn {
  margin-top: 60px;
  font-weight: bold;
}

.header .profile-image {
    margin-right: 30px;
}

.header .profile-content .name {
  color: #49515a;
  font-size: 38px;
  margin-bottom: 5px;
  margin-top: 30px;
}

.header .profile-content .desc {
  color: #778492;
  font-family: "Lato", arial, sans-serif;
  font-weight: 400;
  font-size: 24px;
  margin-top: 0;
  margin-bottom: 15px;
}

/* ======= Sections======= */
.sections-wrapper {
  padding-top: 60px;
  padding-bottom: 60px;
}

.section {
  margin-bottom: 30px;
}

.section .section-inner {
  background: #fff;
  padding: 30px;
}

.section .heading {
  margin-top: 0;
  margin-bottom: 30px;
  color: #545e69;
  font-size: 24px;
}

.section .content .more-link .svg-inline--fa {
  margin-right: 5px;
  font-size: 14px;
  position: relative;
  top: -2px;
}


/* Fonts and Color */
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--main-font-primary);
	color: var(--main-color-black);
}

p {
	font-family: var(--main-font-secondary);
	color: var(--main-color-black);
}

.text_highlight {
	font-family: var(--main-font-tertiary);
	color: var(--main-color-light3);
}

body {
    background-color:  var(--main-color-white);
}



/* Projects Section */
.projects .item {
  margin-bottom: 30px;
}

.projects .item {
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 5px;
  line-height: 1.5;
}

.projects .title {
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 5px;
  line-height: 1.5;
}

.projects .item .title a {
  color: #778492;
}

.projects .item .title a:hover {
  color: #5f6b77;
}

/* Work Section */
.experience .item {
  margin-bottom: 30px;
}

.experience .title {
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 5px;
  line-height: 1.5;
}

.experience .item  {
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 5px;
  line-height: 1.5;
}

.experience .item .title .place {
  color: #999;
  font-weight: normal;
}

.experience .item .title .place a {
  color: #999;
}

.experience .item .title .place a:hover {
  color: #666666;
}

.experience .item .title .year {
  color: #999;
  font-weight: normal;
}

/* Info Section */
.info .svg-inline--fa {
  margin-right: 15px;
  color: #ccd1d6;
}

.info .svg-inline--fa.fa-envelope-o {
  font-size: 14px;
}

.info ul {
  margin-bottom: 0;
}

.info li {
  margin-bottom: 15px;
}

.info li:last-child {
  margin-bottom: 0;
}

/* Skills Section */
.skills .intro {
  margin-bottom: 30px;
}

.skills .skillset .item {
  margin-bottom: 30px;
}

.skills .skillset .level-title {
  font-size: 16px;
  position: relative;
  margin-top: 0;
  margin-bottom: 10;
}

.skills .skillset .level-title .level-label {
  color: #ccd1d6;
  font-size: 14px;
  font-weight: 400;
  font-family: "Lato", arial, sans-serif;
  position: absolute;
  right: 0;
  top: 0;
}

.skills .skillset .level-bar {
  height: 15px;
  background: #e8e8e8;
}

.skills .skillset .level-bar-inner {
  height: 15px;
  background: #66cb8c;
}

.skills .svg-inline--fa {
  margin-right: 3px;
  position: relative;
  top: -1px;
}

/* Education section */
.education .item {
  margin-bottom: 30px;
}

.education .item:last-child {
  margin-bottom: 0;
}

.education .item .title {
  font-size: 16px;
  margin-top: 0;
}

.education .item .university {
  font-family: "Lato", arial, sans-serif;
  font-size: 13px;
  color: #999;
  font-weight: 600;
  padding-left: 25px;
}

.education .item .university .year {
  color: #b0b7bf;
  font-weight: 500;
}

/* Language Section */
.languages .item {
  margin-bottom: 15px;
}

.languages .item .title {
  color: #778492;
}

.languages .item .level {
  color: #999;
}

.languages .item:last-child {
  margin-bottom: 0;
}

.languages .item .svg-inline--fa {
  color: #79d19a;
}







